.block1 {
    border: 1px solid #000;
    height: 550px;
    border-radius: 30px 0 0 30px;
    overflow: auto;


}

.block2 {
    box-sizing: content-box;
    width: 200px;
    height: 170px;
    border-radius: 30px;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background: #ccae87;
    box-shadow: 1px 1px 5px 5px inset #888080;
}
